Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.DS_Store
Source/
MyProject3.code-workspace
.ignore
Content/Maps/Cue_BuiltData.uasset